body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

main {
  padding: 20px 0;
}

.historical-place {
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.historical-place img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.place-details {
  padding: 20px;
  width: 60%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
